<div class="detailContainer">
   	<div class="articleWrap">
		<article class="detailArticle">
			<header>
	            <div class="detailImg"><img ng-src="{{article.coverImage}}"></div>
				<h1>{{article.title}}</h1>
				<p>{{article.date | date:'MMM dd,yyyy'}}</p>
			</header>
			<section>
				<strong><p btf-markdown="article.summary"></p></strong>
				<p class="markdownBody"btf-markdown="article.body"></p>
			</section>
		</article>
		<a class="btn btn-default editBtn" ui-sref="edit({articleId:id_to_get})"><i class="fa fa-pencil-square-o"></i>&nbspEdit</a>

		<div class='numberComments'><strong>{{numComments}} COMMENTS</strong></div>
		<div class="commentContainer">
			<ul>
				<li class="commentList"ng-repeat="comment in comments|toArray|orderBy:'-date'">
				<p class="commentName">{{comment.name}}</p>
				<p class="commentDate">{{comment.date| date:'MMM dd,yyyy'}}</p>
				<p class="commentContent">{{comment.comment}}</p>
				
				</li>
			</ul>
		</div>
		<p>LEAVE A REPLY</p>
		<div class="replyContainer">
			<form class="form-reply" role="form">
				<div class="form-group">
					<input type="text" id='inputName'ng-model="name" placeholder="Name">
				</div>
				<div class="form-group">
					<input type="email" id='inputEmail'ng-model="email" placeholder="Email">
				</div>
				<div class="form-group">
					<textarea ng-model="comment" id="inputComment" placeholder="Comment"></textarea>
				</div>
				<button type="submit"class="btn btn-default" ng-click="addComment()">Post Comment</button>
			</form>
		</div>
	</div>
</div>

