<!DOCTYPE html>
<html ng-app="fireBlog" ng-controller="AppCtrl">
  <head>
    <title ng-bind="pageTitle"></title>

    <!-- social media tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@Angel_Wang5">
    <meta name="twitter:title" content="fireBlog">
    <meta name="twitter:description" content="An example of a blog build on Firebase and AngularJS.">
    <meta name="twitter:creator" content="@Angel_Wang5">
    <meta name="twitter:image:src" content="https://41.media.tumblr.com/4380c58b6dc3cb6513cc9d1f2907125a/tumblr_npxyejOVEz1te26r3o1_540.png">
    <meta property="og:title" content="fireBlog" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="****" />
    <meta property="og:image" content="https://41.media.tumblr.com/4380c58b6dc3cb6513cc9d1f2907125a/tumblr_npxyejOVEz1te26r3o1_540.png" />
    <meta property="og:description" content="An example of a blog build on Firebase and AngularJS.">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--google font (use https to prevent firebase encipher issue)-->
    <link href='https://fonts.googleapis.com/css?family=Parisienne|Marck+Script|Bilbo|Open+Sans' rel='stylesheet' type='text/css'>

    <!-- font awesome from BootstrapCDN -->
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

    <!-- it's stupid to have to load it here, but this is for the +1 button -->
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
      { "parsetags": "explicit" }
    </script>
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.1.1/angularfire.min.js">
    </script>
    
  </head>
  <body>
    <header class="header">
      <div class="logo">
          <a class="site-title"href ui-sref="article">My Blog</a><br>
          <p class="site-description">The World I Pen for Myself</p>
      </div>
      <nav>
        <label for="show-menu" class="show-menu"><i class="fa fa-bars fa-2x"></i></label>
        <input type="checkbox" id="show-menu" role="button">
          <ul id="menu">
              <li><a class="home" href ui-sref="article">Home</a></li>
              
              <li ng-click="SignIn()" ng-hide="currentUserSignedIn"><a class="signIn"href ui-sref="login">Sign In</a></li>
              <li ng-click="SignIn()" ng-hide="currentUserSignedIn"><a class="signUp"href ui-sref="register">Sign Up</a></li>
              <li><a class="aboutMe"href ui-sref="aboutMe">About Me</a></li>
              <li> <a class="post"href ui-sref="post">Post</a></li> 
              <span class="welcomeUser" ng-show="currentUserSignedIn">{{welcome}}</span>  
          </ul>     
      </nav>
   </header>

    <div class="container" ui-view="main"></div>

  </body>
</html>
